*{
     box-sizing: border-box;
     padding: 0;
     margin: 0;
}

.body{
     background-image: url("home-imagem.jpg");
     background-repeat: no-repeat;
     background-size: cover;
     position: relative;
     width: 100%;
}

.body__slogan{
     border-radius: 5px;
     height: 210px;
     left: 520px;
     position: absolute;
     top: 323px;
     transition: border;
     width: 970px;
}

.body__slogan:hover{
     animation: piscar 1.5s linear infinite;
     border: 3px solid white;
}

@keyframes piscar{
     0%{
          opacity: 0;
     }
     50%{
          opacity: 1;
     }
     100%{
          opacity: 0;
     }
}

.titulo{
     color: white;
     font-family: 'Dancing Script';
     font-size: 50px;
     height: 210px;
     left: 750px;
     position: absolute;
     text-shadow: 2px 2px black;
     top: 240px;
     width: 970px;
}

.sublinhado{
     animation: sublinhar 5s infinite;
     background-color:white;
     height: 4px;
     left: 902px;
     position: absolute;
     top: 293px;
     width: 65px;
}

@keyframes sublinhar{
     0%{left: 880px;}
     50%{left: 990px;}
     100%{left: 880px}
}

